<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>MercadoPago Donations</name>
	<author>Adapted for WebEngine 1.2.7</author>
	<version>1.0.0</version>
	<folder>mercadopago</folder>
	<compatibility>
		<webengine>1.2.7</webengine>
	</compatibility>
	<files>
		<file>loader.php</file>
	</files>
</plugin>
